@charset "utf-8";html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;}
*{margin:0;padding:0;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:'';content:none;}
:focus{outline:0;}
fieldset{border:0;margin:0;padding:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
p{line-height:20px;}
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}
.clear{clear:both;}
.clr{clear:both;}
@font-face{font-family:'segoe_uiregular';src:url('../fonts/segoe_uiregular/segoeui-webfont.eot');src:url('../fonts/segoe_uiregular/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/segoe_uiregular/segoeui-webfont.woff2') format('woff2'),
url('../fonts/segoe_uiregular/segoeui-webfont.woff') format('woff'),
url('../fonts/segoe_uiregular/segoeui-webfont.ttf') format('truetype'),
url('../fonts/segoe_uiregular/segoeui-webfont.svg#segoe_uiregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'segoe_uilight';src:url('../fonts/segoe_uilight/segoeuil_0-webfont.eot');src:url('../fonts/segoe_uilight/segoeuil_0-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/segoe_uilight/segoeuil_0-webfont.woff2') format('woff2'),
url('../fonts/segoe_uilight/segoeuil_0-webfont.woff') format('woff'),
url('../fonts/segoe_uilight/segoeuil_0-webfont.ttf') format('truetype'),
url('../fonts/segoe_uilight/segoeuil_0-webfont.svg#segoe_uilight') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'segoe_uisemibold';src:url('../fonts/segoe_uisemibold/seguisb-webfont.eot');src:url('../fonts/segoe_uisemibold/seguisb-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/segoe_uisemibold/seguisb-webfont.woff2') format('woff2'),
url('../fonts/segoe_uisemibold/seguisb-webfont.woff') format('woff'),
url('../fonts/segoe_uisemibold/seguisb-webfont.ttf') format('truetype'),
url('../fonts/segoe_uisemibold/seguisb-webfont.svg#segoe_uisemibold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'segoe_uibold';src:url('../fonts/segoe_uibold/segoeuib-webfont.eot');src:url('../fonts/segoe_uibold/segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/segoe_uibold/segoeuib-webfont.woff2') format('woff2'),
url('../fonts/segoe_uibold/segoeuib-webfont.woff') format('woff'),
url('../fonts/segoe_uibold/segoeuib-webfont.ttf') format('truetype'),
url('../fonts/segoe_uibold/segoeuib-webfont.svg#segoe_uibold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family: 'old_standard_ttitalic';src: url('../fonts/oldstandard-italic-webfont/oldstandard-italic-webfont.eot');src: url('../fonts/oldstandard-italic-webfont/oldstandard-italic-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/oldstandard-italic-webfont/oldstandard-italic-webfont.woff2') format('woff2'),
url('../fonts/oldstandard-italic-webfont/oldstandard-italic-webfont.woff') format('woff'),
url('../fonts/oldstandard-italic-webfont/oldstandard-italic-webfont.ttf') format('truetype'),
url('../fonts/oldstandard-italic-webfont/oldstandard-italic-webfont.svg#old_standard_ttitalic') format('svg');font-weight:normal;font-style: normal;}

a:hover, a:focus {
    text-decoration: none !important;
}
a, span, input[type="submit"]{
	transition: all 0.3s ease 0s;
}
ul, ol{
	margin: 0 !important;
}
body{
	//font-family: 'Cambria' !important;
	font-size: 12px !important;
}
.container{
//	width: 1000px !important;
}
.header-top{
	background: #005165;
	height: 150px;
	overflow: hidden;
	padding: 25px 0;
	//line-height: 32px;
}
.top-left ul li{
	display: inline-block;
}
.top-left ul li span{
	line-height: 26px;
	color: #ed1c24;
}
.top-right{
	text-align: right;
}
.top-right .logo{
	line-height: 100px;
}
.top-right ul{

}
.top-right ul li{
	display: inline-block;
	font-size: 11px;
	line-height: 26px;
}
.top-right ul li a{
	color: #000;
	font-size: 11px;
	line-height: 26px;
	text-decoration: none;
}
.top-right ul li:hover a{
	color: #ed1c24;
}
.top-right ul li:first-child a{
	border-right: 1px solid #e1e1e1;
	padding-right: 8px;
	margin-right: 5px;
}
.header-center{
	padding-top: 20px;
}

.header-navigation{
	background: #272727;
	display: inline-block;
	height: 50px;
	line-height: 44px;
/*	margin-top: 20px;*/
	width: 100%;
	border-bottom: 6px solid #DE8D00;
}
.header-navigation ul{
        position: relative;
	overflow: hidden;
	z-index: 9999;
}
.header-navigation ul >li{
	display: inline-block;
	float: left;
}
.header-navigation ul >li:hover{
	background: #DE8D00;
}
/*
.header-navigation ul.menu >li:hover >a:after{
	border-bottom: 8px solid #e6400c;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: 0;
    content: " ";
    display: block !important;
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1002;
}
*/
.header-navigation ul li:hover .dropdown-menu{

}
.header-navigation ul li .dropdown-menu{
	background: #fff;
    border: medium none;
    margin-top: -5px;
    border-radius: 0;
    box-shadow: 5px 5px rgba(91, 91, 91, 0.2);
    font-size: 13px;
    left: auto;
    letter-spacing: 0;
    padding: 0;
    position: absolute;
    text-transform: none;
	transition: all 0.3s ease 0s;
    top: 100%;
    z-index: 9999;
}
.header-navigation ul li .dropdown-menu li a{
	padding: 10px 15px;
	transition: all 0.3s ease 0s;
}
.header-navigation ul li .dropdown-menu li a:hover{
	background: #ea4c1d;
	color: #fff;
	transition: all 0.3s ease 0s;
}
.header-navigation ul.menu li .dropdown-menu li:first-child{
	border-top: 2px solid #ea4c1d;
}
.header-navigation ul >li >a{
	border-right: 1px solid #524D4D;
	color: #fff;
	font-family: 'Cambria';
    font-size: 14px;
	display: block;
	font-weight: bold;
	padding: 0 13px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	z-index: 10;
}
.header-navigation ul li.active{
	background: #DE8D00;
}
.header-navigation ul li.active a{
	//padding: 0 10px 0 0;
}
.header-navigation ul li.lh-menu a{
	border-right: 0 none;
}
.header-bottom{
	margin: 12px 0 15px;
	position: relative;
}
.news-tt{
	padding-top: 15px;
}
.items-tt{
	float: left;
}
.tt-wrapper{
	height: 30px;
	line-height: 30px;
}
.tt-wrapper .title-tt{
	background: #2f88d6;
    border-radius: 2px;
    color: #fff;
    float: left;
    font-size: 16px;
    margin-right: 15px;
    padding: 0 10px;
    position: absolute;
	z-index: 9;
}
marquee {
    height: 30px;
    position: relative;
}
marquee .items-tt{
	padding-right: 10px;
}
marquee .items-tt a{
	color: #333;
	font-size: 14px;
	padding-right: 10px;
}
marquee .items-tt a span{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
marquee .items-tt i{
	margin-right: 5px;
}
marquee .items-tt:first-child i{
	display: none;
}
.hotline{
	font-size: 13px;
	margin-top: 5px;
}
.hotline i{
	color: #2f88d6;
	font-size: 20px;
}
.hotline strong{
	color: #2f88d6;
}
.hotline span{
        font-weight: bold;
        font-size: 15px;
        color:red;
}
.main-content-home{
	margin-top: 20px;
}
.main-home{
	overflow: hidden;
	padding: 30px 0;
	position: relative;
}
.main-home .container{
	padding: 0;
}
.news-list{
	border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px 0;
}
.news-list .new-box{
	color: #868686;
    //float: left;
    margin: 0 0 10px;
    position: relative;
    //width: 51%;
	
}
.news-list .new-box img{
	border: 1px solid #e1e1e1;
    clear: left;
    float: left;
    margin-bottom: 15px;
    margin-right: 5px;
    padding: 4px;
	width: 100%;
  	height: 415px;
}
.news-list .new-box .box-title{
	color: #006fd3;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
}
.more-link{
	bottom: -15px;
    color: #006fd3;
    position: absolute;
    right: 15px;
}
.new-right{
	background: #f7f7f7 none repeat scroll 0 0;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    float: right;
	overflow: hidden;
 //   width: 45%;
}
.new-right:last-child{
	border-bottom: 1px solid #e1e1e1;
}
.new-right li{
	overflow: hidden;
    padding: 5px;
}
.new-right li a{
	color: #000;
}
.new-right li a img{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    clear: both;
    float: left;
    height: 75px;
    margin-right: 9px;
    padding: 2px;
    width: 120px;
    object-fit:cover;
}
.new-right li a:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease-in;
}
.new-right li a.new-title{
    height: 40px;
    overflow: hidden;
    font-size: 15px;
    color: #006FD3;
}
.box-product{
	background: rgba(0, 0, 0, 0) linear-gradient(#fff, #fcfcfc, #f5f5f5) repeat scroll 0 0;
    border-radius: 4px;
    position: relative;
}
.title-product{
	border-bottom: 3px solid #006fd3;
	position: relative;
}
.box-product .title-product h2{
    position: relative;
	margin: 0;
}
.box-product .title-product h2 span{
	background-color: #006fd3;
	color: #fff;
    display: inline-block;
    font-size: 16px;
    font-family: 'Cambria';
    font-weight: bold;
    line-height: 44px;
	height: 40px;
    padding: 0 18px;
    position: relative;
    text-transform: uppercase;
}
.box-product .title-product h2 span:before{
	border-bottom: 40px solid #006fd3;
	border-right: 20px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: -20px;
    top: 0;
	width: 0;
}
.item-product .item-row1{
	margin-bottom: 20px;
	overflow: hidden;
}
.item-product .item{
	float: left;
	margin: 0 30px 0 0;
	width: 229px;
}
.item-product .item.last{
	margin: 0;
}
.item-product .item .adress{
	margin: 0 0 5px;
}
.box-product .more-links{
	color: #006fd3;
	font-weight: bold;
	position: absolute;
	right: 14px;
	top: 14px;
}
.item-images{
	display: table;
    height: 130px;
	margin-bottom: 10px;
    table-layout: fixed;
    width: 100%;
}
.item-images a{
	display: table-cell;
    height: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.item-images a img{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    height: 150px;
    max-height: 150px;
    padding: 3px;
    width: 100%;
}

.price{
	color: #f00;
    font-weight: bold;
}
.title-1{
	color: #3f3f3f;
}
.title-2{
	color: #005dff;
}
.sidebar{
	border: 1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 1px 5px 1px #d6d6d6;
    margin-bottom: 20px;
    padding: 0;
}
.sidebar h2.title{
	background: transparent url("../images/bg-title.png") repeat-x scroll 0 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    font-size: 12px;
    height: 30px;
    line-height: 29px;
    margin: 0;
    text-indent: 15px;
    text-transform: uppercase;
}
.top-left .content-text ul li{
	padding: 8px 10px;
    position: relative;
}
.top-left .content-text ul li a{
	color: #000;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
}
.middle1-left .content-text li, .middle2-left .content-text li{
	list-style: outside none none;
	margin-bottom: 10px;
}
.middle1-left .content-text li a.title{
	color: #f15a24;
    display: block;
	margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
.content-text li a img{
	height: 160px;
	width: 100%;
}
.middle2-left .content-text li{
	padding: 8px 10px;
    position: relative;
}
.middle2-left .content-text li a{
	color: #000;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.bottom-left .content-text ul li{
	padding: 8px 10px;
    position: relative;
}
.bottom-left .content-text ul li span{
	float:right;
	text-align: right;
}
.bottom-home{
	clear: both;
    overflow: hidden;
    padding: 30px 0;
}
.bottom-home .featured-content{
	overflow: hidden;
}
.bottom-home .featured-content .box-content{
	background: rgba(0, 0, 0, 0) linear-gradient(#fff, #fcfcfc, #f5f5f5) repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    float: left;
 //   min-height: 212px;
	padding: 15px;
}
.bottom-home .featured-content .box-content h2.heading{
	color: #0059a9;
    font-size: 14px;
	font-weight: bold;
    text-transform: uppercase;
	margin: 0;
}
.bottom-home .featured-content .box-content p{
	color: #626262;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0;
    text-transform: none;
}
.bottom-home .featured-content .box-content .content-text{

}
.bottom-home .featured-content .box-content .content-text li{
	list-style: outside none none;
}
.bottom-home .featured-content .box-content .content-text li a{
	color: #39393b;
    display: block;
    font-size: 13px;
	font-weight: bold;
    padding: 5px 0;
}



.banner-images a{
	display: block;
	position: relative;
}
.banner-images a:before{
	background-color: rgba(0, 0, 0, 0.15);
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-out 0s;
    width: 0;
}
.banner-images a:after{
	background-color: rgba(0, 0, 0, 0.15);
    content: "";
    height: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease-out 0s;
    width: 0;
}
.banner-images a:hover:before, .banner-images a:hover:after{
	height: 100%;
	transition: all 0.4s ease-out 0s;
	width: 100%;
}

.box-brands{
	border: 1px solid #e1e1e1;
	box-shadow: 0 0 4px #dcdcdc;
	overflow: hidden;
	padding: 15px;
	position: relative;
	width: 100% !important;
}
.box-brands ul li{
	float: left;
	border: 1px solid #e1e1e1;
	margin-right: 31px;
	display: inline-block;
	overflow: hidden;
}
.box-brands ul li:last-child{
	margin-right: 0;
}
.box-brands ul li img:hover{
	opacity: 0.75;
}
.box-brands ul li img{
	width: 130px;
	height: 100px;
}
.pre-footer{
	margin-top: 30px;
	background-color: #222;
}
.footer-middle{
	padding-bottom: 30px;
	padding-top: 30px;
	overflow: hidden;
}
.footer-middle h2{
	//border-bottom: 1px solid #e1e1e1;
	color: #FFFFFF;
	padding: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
.footer-middle h2:after{
	background-color: #ed1c24;
	bottom: -1px;
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	height: 1px;
	width: 50%;
}
.footer-middle .video{
	margin-top: 15px;
}
.footer-middle ul li {
	padding: 4px 0;
	transition: all 0.3s ease-out 0s;
}
.footer-kn ul li :before, .footer-kh ul li :before{
	content: "\f105";
	font-family: fontawesome;
	display: inline-block;
	font-size: 12px;
	font-family: fontawesome;
	margin: 0 12px 0 0;
	position: relative;
}
.footer-middle ul li:hover a{
	color: #ed1c24;
}
.footer-dc ul li {
	color: #00AFDA;
	font-size: 15px;
        font-weight: bold;
}
.footer-middle ul li a{
	color: #D2D2D2;
    transition: all 0.3s ease-out 0s;
    font-size: 13px;
}
.footer-middle ul li a:hover{
	text-decoration: none;
	padding-left: 15px;
}

.footer-dc ul li a{
	color: #dd9933;
	margin-left: 10px;
}
.footer-copyright{
	background-color: #000;
	padding: 20px 0 15px;
}
.copy-right span{
	color: #ed1c24;
}
.footer-copyright .status{
	text-align: right;
}
.icon-payment li{
	display: inline-block;
	margin-right: 7px;
}
.icon-payment li img:hover{
	opacity: 0.75;
}


nav a#pull {
	display: none;
}

.icon-payment li{
	display: inline-block;
	margin-right: 7px;
}
.icon-payment li img:hover{
	opacity: 0.75;
}
#left_ads_float{
    top: 215px;
    left: 10px;
    position:fixed; 
}

#right_ads_float{
	top: 215px;
    right: 10px;
    position:fixed;
}

nav a#pull {
	display: none;
}

/*Styles for screen 767px and lower*/
@media screen and (max-width: 767px) {
	.container{
	//	width: 640px !important;
	}
	.header-top{
		height: auto;
		padding: 25px 0 0;
	}
	.top-right{
		text-align: center;
	}
	.new-right{
		float: none;
	}
	nav ul {  
        display: none;  
        height: auto;  
    }
	.banner-header img{
		width: 100%;
	}
	.header-navigation ul li.active{
		background : #DE8D00;
	}
	.header-navigation ul >li{
		background : #055699;
		display: block;
		width: 100%;
	}
	.header-navigation ul >li:hover{
		background : #DE8D00;
	}
	.header-navigation ul >li >a{
		border-bottom: 1px solid #ccc;
		border-right: 0;
		padding: 0 15px;
		text-align: left;
	}
	.header-navigation ul{
		padding: 0 15px;
	}
	.header-navigation a#pull {
		display: block;
		background-color: #055699;
		margin: 0 15px;
		width: 50px;
		position: relative;
		font-size: 0;
	}
	nav a#pull:after {
		content:"";
		background: url("../nav-icon.png") no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		left: 15px;
		top: 15px;
	}
	.news-list .new-box{
		margin: 0 0 30px 0;
	}
    .news-list .new-box img{
	    border: 0 none;
	    margin-right: 0;
	    padding: 0;
	    height: 200px;
	    width: 100%;
    }
	.item-product .item{
		width: 274px;
		margin: 0 30px 15px 0;
	}
	.item-product .item:nth-child(2n+2){
		margin-right: 0;
	}
	.item-product .item-row1{
		margin-bottom: 0;
	}
	.box-product .more-links{
		right: 30px;
		top: 28px;
	}
	.bottom-home .featured-content{
		margin-bottom: 30px;
	}
	.bottom-home .featured-content:last-child{
		margin-bottom: 0;
	}
	.bottom-home .featured-content .box-content{
		float: none;
	}
	.box-brands{
		padding: 25px 0 0 15px;
	}
	.box-brands ul li{
		margin-right: 15px;
		margin-bottom: 25px;
	}
	.box-brands ul li:last-child{
		display: none;
	}
	.box-brands ul li img{
		width: 131px;
	}
	.footer-dc, .footer-kh, .footer-kn, .footer-ttw{
		float: left;		
		width: 50%;
	}
	.footer-dc, .footer-kh{
		margin-bottom: 20px;
	}
	.footer-copyright{
		text-align: center;
	}
	.footer-copyright .status {
		padding: 10px 0 0;
		text-align: center;
	}
	.news-tt{
		padding-top: 20px;
	}
	.hotline{
		margin-top: 15px;
	}
	#left_ads_float, #right_ads_float{
		display: none;
	}
}

/*Styles for screen 480px and lower*/
@media (max-width: 479px){
    nav ul{  
        display: none;  
        height: auto;  
    }
	.banner-header img{
		width: 100%;
	}
	.header-navigation ul li.active{
		background : #006fd3;
	}
	.header-navigation ul >li{
		background : #055699;
		display: block;
		width: 100%;
	}
	.header-navigation ul >li:hover{
		background : #006fd3;
	}
	.header-navigation ul >li >a{
		border-bottom: 1px solid #ccc;
		border-right: 0;
		padding: 0 15px;
		text-align: left;
	}
	.header-navigation ul{
		padding: 0 15px;
	}
	.header-navigation a#pull {
		display: block;
		background-color: #055699;
		margin: 0 15px;
		width: 50px;
		position: relative;
		font-size: 0;
	}
	nav a#pull:after {
		content:"";
		background: url("../nav-icon.png") no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		left: 15px;
		top: 15px;
	}
    .news-list .new-box img{
        border: 0 none;
        margin-right: 0;
        padding: 0;
        height: 200px;
        width: 100%;
    }
	.news-list .new-box{
		margin: 0 0 30px 0;
	}
	.item-product .item{
		width: 258px;
		margin: 0 0 15px;
	}
	.bottom-home .featured-content{
		margin-bottom: 30px;
	}
	.bottom-home .featured-content:last-child{
		margin-bottom: 0;
	}
	.box-brands{
		padding: 30px 0 15px 15px;
	}
	.box-brands ul li{
		margin-right: 15px;
		margin-bottom: 10px;
	}
	.box-brands ul li:last-child{
		display: none;
	}
	.box-brands ul li img{
		width: 119px;
	}
	.footer-dc, .footer-kh, .footer-kn{
		margin-bottom: 20px;
	}
	.footer-copyright{
		text-align: center;
	}
	.footer-copyright .status {
		padding: 10px 0 0;
		text-align: center;
	}
	.footer-dc, .footer-kh, .footer-kn, .footer-ttw{
		float: left;		
		width: 100%;
	}
	.news-tt{
		padding-top: 20px;
	}
	.hotline{
		margin-top: 15px;
	}
	#left_ads_float, #right_ads_float{
		display: none;
	}
}


.effect-zoe{
	background: #3085a3;
	cursor: pointer;
	text-align: center;
	position: relative;
	overflow: hidden;
}
figure.effect-zoe figcaption > div{
	background: url("../images/bg-5.png");
	bottom: 0;
    left: 0;
    padding: 2em;
    position: absolute;
    width: 100%;
}
figure.effect-zoe img{
	display: block;
    max-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    position: relative;
	opacity: 0.7;
    transform: scale(1.15);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
.more-link{
	color: #fff;
	bottom: 15px;
    position: absolute;
    right: 15px;
	opacity: 0;
}
figure.effect-zoe figcaption{
    color: #fff;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
	width: 100%;
	text-align: left;
}
figure.effect-zoe h2{
	margin: 0;
	font-weight: 300;
	font-size: 25px;
    word-spacing: -0.15em;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 0.35s ease 0s;
	// transform: translate3d(0px, 30px, 0px);
}
figure.effect-zoe p{
    color: #fff;
    font-size: 14px;
    opacity: 0;
	margin: 0;
	position: relative;
    transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
	transform: translate3d(0px, 40px, 0px);
}
figure figcaption::before, figure figcaption::after{
	pointer-events: none;
	transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}
figure.effect-zoe:hover figcaption, figure.effect-zoe:hover h2{
	transform: translate3d(0px, 0px, 0px);
}
figure.effect-zoe:hover h2 {
	transform: translate3d(0px, 0px, 0px);
    transition-delay: 0.05s;
	opacity: 0;
}
figure.effect-zoe:hover p{
	bottom: 15px;
	transform: translate3d(0px, 0px, 0px);
	transition-delay: 0.05s;
	transition-duration: 0.35s;
    opacity: 1;
}
figure.effect-zoe:hover .more-link{
	color: #fff;
	opacity: 1;
}
figure.effect-zoe:hover img {
    opacity: 0.5;
    transform: scale(1);
}
.main-header {
    background: #fff;
    position: relative;
    float: left;
    width: 100%;
}